body {
  margin: 0;
  padding: 0%;
  position: relative;
}

nav + div {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav + div > div {
  width: 35%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

nav + div > div > h3 {
  margin-bottom: 30px;
}

div.heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: fit-content;
}